* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #12486b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-container {
  width: 400px;
  height: 100px;
  /* background-color: red; */
  /* border: 2px solid #fff; */
  color: #b6fffa;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock {
  font-size: 38px;
  font-weight: bold;
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}
